body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-group-prepend > h3, .input-group-prepend > label {
    height: 100%;
}

a[data-value="$"] {
  background-color: rgba(255, 0, 208, 1);
}

a[data-value="£"] {
    background-color: rgba(255, 0, 208, 0.8);
}

a[data-value="€"] {
    background-color: rgba(255, 0, 208, 0.6);
}

a[data-value="₹"] {
    background-color: rgba(255, 0, 208, 0.4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#budgetIndicator {
    display: inline-block;
    margin-bottom: 0;
}

#budgetInput {
    width: 60%;
}